[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExomeDepth"]
	path = ExomeDepth
	url = https://github.com/vplagnol/exomedepth
